!!! 5
%html
  %head
    = render 'layouts/head'
    = auto_discovery_link_tag :atom, '/feed'
    = auto_discovery_link_tag :rss, '/feed.rss'
    = yield :head

  %body
    = yield
    = render 'layouts/google_analytics'